<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>Categories</h2>
    <h3>All</h3>
    <% for (let i = 0; i < data['categories'].length; i++) { %>
        <div>
            <p><%= data['categories'][i].name; %></p>
            <p><a href="/admin/category-delete/<%= data['categories'][i]._id; %>">Delete</a></p>
        </div>
    <% } %>
    <h3>Add</h3>
    <form action="/admin/category-add" method="post">
        <input type="text" name="category-add" id="category-add">
        <input type="submit" value="Envoyer">
    </form>
    <h2>Projects</h2>
    <h3>All</h3>
    <% for (let i = 0; i < data['projects'].length; i++) { %>
        <div>
            <p><%= data['projects'][i].title; %></p>
            <p><%= data['projects'][i].category.name; %></p>
            <p><%= data['projects'][i].mediaType; %></p>
            <p><%= data['projects'][i].user.name; %></p>
            <p><a href="/admin/project-delete/<%= data['projects'][i]._id; %>">Delete</a></p>
        </div>
    <% } %>
    <h2>Users</h2>
    <h3>Add</h3>
    <form action="/admin/user-add" method="post">
        <input type="text" name="name" id="name" placeholder="Name"><br>
        <input type="text" name="password" id="password" placeholder="Password"><br>
        <input type="text" name="role" id="role" placeholder="Role"><br>
        <input type="submit" value="Submit">
    </form>
    <h2>Years</h2>
    <h3>All</h3>
    <% for (let i = 0; i < data['projects'].length; i++) { %>
        <p><%= data['years'][i].name; %></p>
    <% } %>
    <h3>Add</h3>
    <form action="/admin/year-add" method="post">
        <input type="text" name="year" id="year" placeholder="Year"><br>
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>