<%- include('../include/head') %>
<%- include('../include/header') %>

<section class="main-section">
    <aside class="main-section__aside-left"></aside>
    <main class="main-section__main">
        <h1 class="project-title"><%= data['project'].title %></h1>
        <% if (data['project'].mediaType === 'media-img') { %>
        <img src="https://drive.google.com/uc?export=view&id=<%= data['project'].mediaLink %>"
            alt="<%= data['project'].title %>" class="article-img">
        <% } %>
        <% if (data['project'].mediaType === 'media-audio') { %>
        <audio class="project-audio" controls>
            <source src="https://drive.google.com/uc?export=view&id=<%= data['project'].mediaLink %>" type="audio/mpeg">
            <p>Votre navigateur ne prend pas en charge l'audio HTML. Voici un <a
                    href="https://drive.google.com/uc?export=view&id=<%= data['project'].mediaLink %>">lien vers le
                    fichier audio</a> pour le télécharger.</p>
        </audio>
        <% } %>
        <% if (data['project'].mediaType === 'media-video') { %>
        <video class="project-video" controls>
            <source src="https://drive.google.com/uc?export=view&id=<%= data['project'].mediaLink %>" type="video/mp4">
            <p>Votre navigateur ne prend pas en charge la vidéo HTML. Voici un <a
                    href="https://drive.google.com/uc?export=view&id=<%= data['project'].mediaLink %>">lien vers le
                    fichier vidéo</a> pour le télécharger.</p>
        </video>
        <% } %>
        <div class="project-about">
            <div class="project-about__actions">
                <a href="#" class="project-about__actions-link"><i class="project-about__actions-link-icon far fa-heart"></i></a>
                <a href="#" class="project-about__actions-link"><i class="project-about__actions-link-icon far fa-comment"></i></a>
                <a href="#" class="project-about__actions-link"><i class="project-about__actions-link-icon fa fa-share"></i></a>
            </div>
            <div class="project-about__user">
                <div class="profil-user__color" style="background-image: url('<%= data['project'].user.picture %>');"></div>
                <p class="project-about__user-name"><%= data['project'].user.name %></p>
            </div>
        </div>
        <div class="project-stats">
            <p class="project-stats__text">12035 likes • <%= data['comments'].length; %> commentaires</p>
        </div>
        <div class="project-content">
            <p class="project-content__text"><%= data['project'].description %></p>
        </div>
        <h1 class="form-title">Ajouter un commentaire</h1>
        <div class="form-inner">
            <textarea data-id="<%= data['project']._id %>" name="comment_area" id="comment_area" cols="30" rows="10" class="form-inner__textarea form-inner__textarea--comment" placeholder="Ajoutez votre commentaire"></textarea>
        </div>
        <div class="form-submit">
            <button class="form-submit__button" id="submit-button">VALIDER</button>
        </div>
        <h1 class="project-title">Commentaires</h1>
        <% for (let i = 0; i < data['comments'].length; i++) { %>
            <div class="project-comment">
                <p class="project-comment__author"><%= data['comments'][i].user.name %></p>
                <p class="project-comment__text"><%= data['comments'][i].comment %></p>
            </div>
        <% } %>
    </main>
    <aside class="main-section__aside-right"></aside>
</section>

<script src="/src/public/js/ajax/comment.js"></script>

<%- include('../include/foot') %>