<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
</head>
<body>
    <h1>Read all tests</h1>
    <%= data['test'] %>
    <% for (let i = 0; i < data['test'].length; i++) { %>
        <div style="border: 1px solid black;">
            <p><%= data['test'][i].id %></p>
            <p><%= data['test'][i].test %></p>
            <a href="/test/<%= data['test'][i].id %>/delete">Delete</a>
            <a href="/test/<%= data['test'][i].id %>/edit">Edit</a>
        </div>
    <% } %>

    <h1>Post new test</h1>
    <form action="/test/post" method="post">
        <input type="test" name="test" id="test">
        <input type="submit">
    </form>
</body>
</html>